/data/
/__pycache__/
/venv/
env/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.idea/
.vscode/

/mujoco_simulation/__pycache__/
/mujoco_simulation/dog_controller_no_cpg.py
/mujoco_simulation/main_robot.py
/mujoco_simulation/run_grid_search.py
